.modalParent {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.529);
}

.users {
  max-height: 300px;
  overflow-y: scroll;
}

.users::-webkit-scrollbar {
  border-radius: 5px;
}

.users::-webkit-scrollbar-track {
  border: 3px solid #53467ee4;
  background-color: #ab92ff;
  border-radius: 5px;
}

.users::-webkit-scrollbar-thumb {
  border: 3px solid #3b3b3be4;
  background-color: #6f44ff;
  border-radius: 10px;
}

.users::-webkit-scrollbar-thumb:hover {
  border: 3px solid #3b3b3be4;
  background-color: #8661ff;
}

.usersContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  padding: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: rgb(42, 42, 42);
}

@media (max-width: 520px) {
  .usersContainer {
    width: 250px;
  }
}
